@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,400i,700');

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.45;
}

#wrapper {
  position: relative;
  margin: 50px auto;
  padding: 0 3%;
  max-width: 600px;
}


a {
    text-decoration: none;
}
a:visited {
    color: blue;
}


h1 {
/*        font-family: "Space Mono";*/
  /*font-weight: 400;*/
}

h2 {
  font-size: 22px;
}

h3 {
  /*font-family: "Space Mono";*/
  font-size: 16px;

}

h5 {
  font-size: 16px;
  margin-bottom: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.shadow-caption {
  margin-top: -12px;
}

.caption {
  text-align: center;
  font-style: italic;
}

code {
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(230,230,230);
  padding: 0 3px;
  border-radius: 2px;
}