html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: -moz-linear-gradient(top, #dee9f9 0%, #7db9e8 100%); 
  background: -webkit-linear-gradient(top, #dee9f9 0%,#7db9e8 100%); 
  background: linear-gradient(to bottom, #dee9f9 0%,#7db9e8 100%); 
}

#congrats {
  opacity: 0;
  position: absolute;
  width: 100%; height: 100%;
  background: -moz-linear-gradient(top, #FFE894 0%, #FFB038 100%); 
  background: -webkit-linear-gradient(top, #FFE894 0%,#FFB038 100%); 
  background: linear-gradient(to bottom, #FFE894 0%,#FFB038 100%);   
}

#congrats.on {
  opacity: 1;
  transition: all 2s;
}
#congrats:after {
  content: "";
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  left: 0; right: 0;
  margin: 0 auto;
  bottom: -500px;
  background-color: #FF511B;
  transition: all 4s ease-in-out;
}
#congrats.on:after {
  bottom: -300px;
}
#congrats.on:before {
  content: "You are a winner!";
  font-family: Helvetica;
  font-size: 80px;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 130px;
  font-weight: bold;
  color: #C92C10;
}

#bar {
  position: fixed;
  bottom: 0;
  height: 150px;
  width: 100%;
  line-height: 150px;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  z-index: 99;
}


#balloon-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}


.balloon {
  position: relative;
  width: 40px;
  height: 40px;
  margin: 12px 6px;
  background-image: url("../img/balloon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
}


.driftA {
  animation: driftA;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.driftB {
  animation: driftB;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.big {
  width: 80px;
  height: 80px;
}


.popped {
  opacity: 0;
  pointer-events: none;
}


@keyframes driftA {
  0% {
    left: 0;
  }
  50% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}


@keyframes driftB {
  0% {
    left: 0;
  }
  25% {
    left: 10px;
  }
  75% {
    left: -10px;
  }
  100% {
    left: 0;
  }
}