@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,700|Roboto:400,400i,700');

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.45;
}

#wrapper {
  position: relative;
  margin: 50px auto;
  padding: 0 3%;
  max-width: 600px;
}

ul {
  position: relative;
  list-style: none; 
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  list-style: none;
  padding: 0;
  margin: 0 0 0 14px;
}

li:before {
  content: "+";
  position: absolute;
  left: -14px;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

a {
    text-decoration: none;
}
a:visited {
    color: blue;
}


h1 {
/*        font-family: "Space Mono";*/
  /*font-weight: 400;*/
}

h2 {
  font-size: 22px;
}

h3 {
  /*font-family: "Space Mono";*/
  font-size: 16px;

}

h5 {
  font-size: 16px;
  margin-bottom: 32px;
  font-weight: 400;
}

p {
  font-size: 16px;
  margin-bottom: 16px;
}

.full-width {
  width: 100%;
}

.border {
  border: 1px solid #bbb;
}

.shadow-caption {
  margin-top: -12px;
}

.section-break {
  height: 60px;
}

.caption {
  text-align: center;
  font-style: italic;
}

code {
  font-size: 15px;
  font-family: "Roboto Mono", monospace;
  background-color: rgb(230,230,230);
  padding: 0 3px;
  border-radius: 2px;
}

.download-button-outer {
  position: absolute;
  top: 14px;
  right: 14px;
  z-index: 10;
}

.download-button {
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 12px;
  letter-spacing: 1px;
  height: 28px;
  line-height: 28px;
  color: white;
  background-color: rgb(241, 0, 104);
  padding: 0 14px;
  border-radius: 22px;
  transition: all 250ms ease-in-out;
}

.download-button:hover {
  background-color: rgb(255, 180, 204);
  color: rgb(40,40,40);
}