div {
  position: relative;
  width: 400px;
  height: 400px;
  left: 0;
  background-color: rgb(220, 20, 20);
  transition: all 0.5s linear;
}

/*  pseudo-selector  */
div:hover {
  background-color: rgb(20, 220, 20);
  width: 600px;
  left: 40px;
}


code {
  width: 400px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  text-align: left;
  padding: 10px;
  background-color: rgb(39,40,34);
  color: white; 
  overflow: hidden;
  white-space: nowrap;
}

.element {
  color: rgb(233, 38, 114);
}
.attribute {
  color: rgb(102, 217, 223);  
}
.class {
  color: rgb(163, 226, 46);   
}
.comment {
  color: rgb(115, 113, 94);    
}