html, body {
  height: 100%;
}

body {
  transition: background-color 0.25s ease-in-out;
}

h1 {
  color: blue;
  font-size: 80px;
  position: absolute;
  top: 20px;
  left: 20px;
}


.dark {
  background-color: black;
}


.button {
  position: relative;
  /*margin: auto;*/
  top: 400px;
  left: 10px;
/*  width: 210px;
  height: 60px;*/
  width: 120px;
  height: 358px;
  border-radius: 8px;
  /*background-color: rgb(200, 200, 200);*/
  background-image: url("../img/switch-off.png");
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

/*
  switch img
  width: 120px;
  height: 358px;
*/

.focused {
/*  background-color: rgb(120, 120, 120);
  border: 1px solid rgb(40, 40, 40);*/
}


.active {
  /*background-color: rgb(200, 20, 34);*/
  top: 50px;
  left: 600px;
  background-image: url("../img/switch-on.png");
  /*border: 1px solid rgb(255, 0, 0);*/
}




